<h1>Home#index</h1>

<div>
  <button>Cart</button>
  <span id='cart-count'><%= @cart_count %></span><span> units</span>
  <span id='cart-sum'><%= @cart_sum %></span><span> total price</span>
</div>

<% @products.each do |product|%>
  <div>
    <div><%= product.title %></div>
    <div><button class="product-buy" data-id='<%= product.id %>'>Buy</button></div>
  </div>
<% end %>